__pycache__/hw6.cpython-310.pyc
hw6.py
homework6/__pycache__/__init__.cpython-310.pyc
homework6/__pycache__/utils.cpython-310.pyc
homework6/__pycache__/logging.cpython-310.pyc
homework6/__pycache__/wire.cpython-310.pyc
